.logo-container {
    z-index: 0;
    width: 400px;
    height: 95%;
    opacity: 1;
    position: absolute;
    top: 2.5%;
    left: 35%;
    bottom: auto;
    right: auto;
    margin: auto;
  
    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

  }
  
  .svg-container {
    stroke: #ffffff;
    stroke-width: 1;
    top: 0;
  }
