.home-page {
  height: 100%;

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #f4f4f4;
    font-size: 5.3rem;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    img {
      width: 3.2rem;
      margin-left: 2rem;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 0s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 2rem;
    font-weight: 400;
    font-size: 1.1rem;
    font-family: sans-serif;
    letter-spacing: .3rem;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: .4rem;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1rem 1.8rem;
    border:  .1rem solid #ffd700;
    margin-top: 2.5rem;
    float:left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
  }
}
